.widget-type-select {
    width: 60% !important;
}

.preview-image {
    max-width: 100% !important;
    height: auto !important;
}

p {
    white-space: pre-line;
}


.btn-new-widget.fab {
    z-index: 10000;
}
