/* ------- Course List / Row -------- */

.course-row {
  margin: auto;
  padding: 0;
  background-color: #fff;
  transition: background-color 0.2s;
  padding: 18px 0;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
}

.wbdv-course {
  cursor: pointer;
}

.wbdv-course:hover {
  background-color: #a1c8f1;
}
.wbdv-course.editing {
  background-color: #4793e0;
}

.wbdv-courseediting p,
.wbdv-course.editing span,
.wbdv-course.editing i {
  color: #fff;
}

.course-row .course-title {
  text-align: left;
  font-size: 15px;
  line-height: 20px;
  padding-left: 15px;
}
.wbdv-course i {
  color: #4793df;
}
.course-title .title {
  display: inline-block;
  padding: 0 10px;
}
.wbdv-course:hover i,
.wbdv-courseactive i,
.wbdv-course:hover span,
.wbdv-course:active span,
.wbdv-course:hover,
.wbdv-course:active {
  text-decoration: none;
  color: #000;
}

.section-title {
  padding: 20px 0 8px;
}

@media all and (max-width: 800px) {
}
