/* ----- Course Editor ------ */

.nav-container {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}
.course-editor-content-wrap {
  min-height: 100vh;
}

.sidebar-left {
  background: #282c34;
  padding: 0 30px;
}

.sidebar-left ul {
  list-style: none;
  margin: auto 0 auto auto;
  padding: 0;
}

.sidebar-width-limiter {
  width: 300px;
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
}

.add-button,
.delete-button {
  background-color: transparent;
  border: 0 none;
  border-radius: 2px;
  color: #fff;
  transition: 0.1s;
}

.module-tab a {
  display: flex;
  width: 100%;
  padding: 10px 15px 10px 30px;
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 2px;
  transition: 0.2s;
}

.module-tab a .module-name {
  flex: 1;
  padding-right: 15px;
  padding-top: 2px;
}

.module-tab.button-tab {
  padding-right: 10px;
}

.editor-width-limiter {
  width: 650px;
  max-width: 100%;
  padding: 30px 0;
}

.course-editor-submenu {
  padding-bottom: 30px;
}

.course-editor-submenu .nav-item a {
  border-radius: 2px;
  background-color: #343a40;
  color: #fff;
}

.course-editor-submenu .nav-item a:hover,
.course-editor-submenu .nav-item a:active,
.module-tab a:hover,
.module-tab a:active,
.delete-button:hover,
.delete-button:active {
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
}

.add-content {
  border: 1px solid #ccc;
  padding: 10px 15px;
  margin-top: 10px;
}
.add-content-header-row {
  padding-bottom: 5px;
}

@media all and (max-width: 1000px) {
  .course-editor-submenu .nav-item {
    padding-right: 10px;
  }
  .course-editor-submenu {
    padding-bottom: 10px;
  }
}

@media all and (max-width: 991px) {
  .sticky-top .navbar-nav {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.2);
  }
}
@media all and (max-width: 767px) {
  .sidebar-menu {
    order: 2;
  }
  .sidebar-menu .sidebar-width-limiter {
    margin-right: auto;
    width: 100%;
  }
  .editor-width-limiter {
    margin: auto;
    padding: 30px 20px;
  }
}

@media all and (max-width: 500px) {
  .editor-width-limiter,
  .sidebar-width-limiter {
    padding: 15px;
  }
  .nav-pills.wbdv-topic-pill-list {
    flex-direction: column;
  }
  .nav-pills.wbdv-topic-pill-list li {
    margin-bottom: 5px;
  }
}
