.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.width-limiter {
  width: 100%;
  max-width: 1700px;
  margin: auto;
  padding: 0 15px;
}
.course-manager-heading {
  background-color: #4793e0;
  padding: 10px 0;
}

.course-manager-heading .navbar {
  box-shadow: none;
  border-bottom: 0 none;
  display: block;
}

.course-manager-heading .form-control {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: none;
  border-radius: 2px;
  border: 0 none;
  font-style: italic;
}
.course-manager-heading .navbar-dark .navbar-toggler {
  border: 0 none;
  color: rgba(255, 255, 255, 1);
}
.course-manager button {
  background-color: transparent;
  border: 0 none;
}
.page-title {
  font-size: 16px;
  text-shadow: none;
}

.hide-mobile {
  display: none;
}

.course-row {
  list-style: none;
  margin: auto;
  padding: 0;
  background-color: #fff;
  transition: background-color 0.2s;
  padding: 18px 0;
  cursor: pointer;
  align-items: center;
}

.course-row:hover {
  background-color: #a1c8f1;
}
.course-row.editing {
  background-color: #4793e0;
}
.course-row.editing p,
.course-row.editing span,
.course-row.editing i {
  color: #fff;
}

.course-row .course-title {
  text-align: left;
  font-size: 15px;
  line-height: 20px;
  padding-left: 15px;
}
.course-row i {
  color: #4793df;
}
.course-title .title {
  display: inline-block;
  padding: 0 10px;
}
.course-row:hover i,
.course-row:active i,
.course-row:hover span,
.course-row:active span,
.course-row:hover,
.course-row:active {
  text-decoration: none;
  color: #000;
}

.section-title {
  padding: 20px 0 8px;
}

@media all and (min-width: 992px) {
  .hide-mobile {
    display: block;
  }
}
