.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-content {
  background-color: #ebebeb;
  padding-bottom: 30px;
}

.course-manager-heading {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.course-manager-heading .navbar {
  box-shadow: none;
  border-bottom: 0 none;
  display: block;
}

.width-limiter {
  width: 100%;
  max-width: 1700px;
  margin: auto;
  padding: 0 15px;
}

.course-manager-heading .form-control {
  font-weight: bold;
  font-style: italic;
  border-radius: 2px;
}

.course-manager-heading .navbar-light .navbar-toggler {
  color: #000;
  border-color: #000;
}
.course-manager button {
  background-color: transparent;
  border: 0 none;
}

.page-title {
  font-size: 20px;
  text-shadow: none;
}

.hide-mobile {
  display: none;
}

.btn-plus i {
  background-color: red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  transition: background-color 0.2s;
}

.btn-plus i:hover,
.btn-plus i:active {
  background-color: #000;
}

#footer {
  background-color: #444;
  text-align: center;
  color: #fff;
  padding: 5px 15px;
}
#footer p {
  font-size: 14px;
  margin: auto;
}
@media all and (min-width: 992px) {
  .hide-mobile {
    display: block;
  }
}
