.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-content {
  background-color: #ebebeb;
}

.course-manager-heading {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.course-manager-heading .navbar {
  box-shadow: none;
  border-bottom: 0 none;
  display: block;
}

.width-limiter {
  width: 100%;
  max-width: 1700px;
  margin: auto;
  padding: 0 15px;
}

.course-manager-heading .form-control {
  font-weight: bold;
  font-style: italic;
  border-radius: 2px;
}

.course-manager-heading .navbar-light .navbar-toggler {
  color: #000;
  border-color: #000;
}
.course-manager button {
  background-color: transparent;
  border: 0 none;
}

.page-title {
  font-size: 20px;
  text-shadow: none;
}

.hide-mobile {
  display: none;
}

/* ------- Course Grid / Card -------- */

.course-grid {
  padding: 15px 30px;
}
.course-card-outer {
  padding: 30px;
}
.course-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  height: 500px;
  background-color: #fff;
  border: 2px solid #ccc;
}
.course-card-info {
  background: #fff;
  border-top: 2px solid #ccc;
  padding: 15px 20px;
}

/* ------- Course List / Row -------- */

.course-row {
  margin: auto;
  padding: 0;
  background-color: #fff;
  transition: background-color 0.2s;
  padding: 18px 0;
  align-items: center;
}

.wbdv-course {
  cursor: pointer;
}

.wbdv-course:hover {
  background-color: #a1c8f1;
}
.wbdv-course.editing {
  background-color: #4793e0;
}

.wbdv-courseediting p,
.wbdv-course.editing span,
.wbdv-course.editing i {
  color: #fff;
}

.wbdv-course .course-title {
  text-align: left;
  font-size: 15px;
  line-height: 20px;
  padding-left: 15px;
}
.wbdv-course i {
  color: #4793df;
}
.course-title .title {
  display: inline-block;
  padding: 0 10px;
}
.wbdv-course:hover i,
.wbdv-courseactive i,
.wbdv-course:hover span,
.wbdv-course:active span,
.wbdv-course:hover,
.wbdv-course:active {
  text-decoration: none;
  color: #000;
}

.section-title {
  padding: 20px 0 8px;
}

@media all and (min-width: 992px) {
  .hide-mobile {
    display: block;
  }
}
